body
{
    background:#ccedff; 
    width: 99%; 
}
header
{
    background:#91e9fa; 
    background-position: right bottom, left top;
    background-size: cover; 
    text-align:center;
    margin-top: none;
    max-width: 100%;
}
.title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.subtitle{
    text-align: right;
    padding-right: 15vw;
    font-family: 'Bahnschrift Condensed','Times New Roman', Times, serif;
}
main
{
    height: 100%;
    float:left; 
    text-align: justify;
    background:#ccedff;  
    max-width:100%;
}
.content {
    background-color:#67c8db; 
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 7px;
    margin-bottom: 6px;
    margin-right: 6px;
    float: left;
    padding-bottom: 8px;
  }
.accordion {
    background-color: #ccedff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 18px;
    width: 99%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 1.5vw;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccedff; 
  }
  .panel {
    margin-left: auto;
    margin-right: auto;
    display: none;
    background-color: #ccedff;
    overflow: hidden;
  }
.MySlides{
    width: 49vw;
    height: 28vw;
    margin-right: 1.5vw;
    margin-left: 2vw;
}
p {
    text-indent: 50px;
    text-align: justify;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}
a {
    color: black;
    text-decoration: none;
}
h1{
    text-indent: 50px;
}
.sight {
    padding-bottom: 5px;
    text-align: left;
}  

@media only screen and (max-width:889px) {

    header
{  
    height: 12vw;
}
.headimg {
    display: none;
}
.title{
        font-size: 5.8vw;
        display: block;   
}
.subtitle{
    display: none;
}
.house{
        width: 7vw;
        height: 7vw;
        margin-left: 2vw;
        margin-right: 1.5vw;
}
    .flag{
        width: 6.7vw;
        height: 6.7vw;
    }
    .phone{
        font-size: 4.5vw;
    }
    .MySlides{
        margin-right: 10vw;
        margin-left: 10vw;
        width: 75vw;
        height: 45vw;
    }
    p {
        padding-right: 3vw;
        font-size: 4vw;
    }
    h1{
        text-indent: 10px;
        font-size: 4.7vw;
    }
    .content {
        width: 42vw;
        height: 48vw;
      }
      .sight {
       font-size: 4.5vw;
    }
    .subsight{
        font-size: 3.5vw;
    }
    img{
        width: 41vw;
        height: 30vw;
    }
    nav ul li{
        display: block;
    }
    .panel {
        display: none;
    }
    .continents {
        display: none;
    }
    .accordion{
        display: none;
    }
    .imgbottom{
        width: 40vw; 
        height: 51vw;
        margin-left: 28vw;
        margin-bottom: 2vw;
    }
    .imgbottom1{
        width: 51vw; 
        height: 40vw;
        padding-left: 22vw;
        padding-bottom: 2vw;
    }
    .puzzle{
        display: none;
    }
}

@media only screen and (min-width:890px) {
    
    header
{  
    height: 13vw;
}
.headimg {
    display: none;
}
.title{
    font-size: 5vw;
    display: block;
}
    .subtitle{
    display: block;
    font-size: 2vw;
    }
    .house{
        width: 4.3vw;
        height: 4.3vw;
        margin-left: 2vw;
        margin-right: 1.5vw;
    }
    .flag{
        width: 4vw;
        height: 4vw;
    }
    p {
        padding-right: 3vw;
       font-size: 2.5vw;
    }
    h1{
        text-indent: 10px;
        font-size: 2.5vw;
    }
    .content {
        width: 29vw;
        height: 36vw;
      }
      .sight {
       font-size: 3.5vw;
    }
    .subsight{
        font-size: 2.5vw;
    }
    img{
        width: 29vw;
        height: 23vw;
    }
    nav ul li{
        display: block;
    }
    .panel {
        display: none;
    }
    .continents {
        display: none;
    }
    .accordion{
        display: none;
    }
    .phone{
        font-size: 3vw;
    }
    .imgbottom{
        width: 23vw; 
        height: 29vw;
        padding: 3.5vw;
    }
    .imgbottom1{
        width: 29vw; 
        height: 23vw;
        padding: 1.5vw;
    }
    .puzzle{
        width: 100%;
        height: 700px;
    }
}
@media only screen and (min-width:1260px) {

    header
{  
    height: 300px;
}
.headimg {
    width: 100%;
    height: 300px;
    display: block;
}
    .title{
    font-size: 4vw;
    display: none;    
    }
    .subtitle{
    display: none;
    font-size: 1.2vw;
}
    .house{
    margin-left: 2vw;
    margin-right: 1.5vw;
    width: 3vw;
    height: 3vw;
    }
    .flag{
        width: 2.7vw;
        height: 2.7vw;
    }
    p {
        padding-right: 1.5vw;
       font-size: 1.7vw;
    }
    h1{
        text-indent: 50px;
        font-size: 2vw;
    }
    .content {
    width: 23vw;
    height: 23vw;
    }
    .sight {
    font-size: 2vw;
    }
    .subsight{
    font-size: 1.2vw;
    }
    img{
    width: 23vw;
    height: 17vw;
    }
    .continents {
        width: 48vw;
        height: 45vw;
        max-width: 100vw;
        float: left;
    }
    nav ul li{
        display: none;
    }
    .panel {
        display: block;
    }
    .continents {
        display: block;
    }
    .accordion{
        display: block;
    }
    .imgbottom{
        width: 25vw; 
        height: 30vw;
        padding: 3vw;
    }
    .imgbottom1{
        width: 30vw; 
        height: 25vw;
        padding: 1vw;
    }
    .puzzle{
        width: 100%;
        height: 700px;
    }
.centre{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  .container {
    position: relative;
    padding-bottom: 4vw;
  }
  .mySlides {
    display: none;
  }
  .cursor {
    cursor: pointer;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  .next {
      margin-left: 95vw;
  }
  .prev:hover,
  .next:hover {
    background-color: #67c8db;
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
    width: 13%;
    padding-bottom: 1vw;
    padding-left: 0.8vw;
  }
  .active,
  .demo:hover {
  background-color: #67c8db;
  }
  .captionText{
    width:100%; 
    text-align: center; 
    font-size: 2.5vw; 
  }
  .captionText1{
    width:100%; 
    text-align: center; 
    font-size: 2.5vw;
    height: 100px;
    line-height: 100px;
    white-space: nowrap;
  }
}